@model IEnumerable<GridironBulgaria.Web.ViewModels.PhotoAlbums.PhotoAlbumViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="PhotoAlbums" asp-action="Index">
    <p>
        <input type="text" name="id">
        <input type="submit" value="Search" />
    </p>
</form>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Нов Албум</a>
    </p>
}
<table>
    <tbody>
        @foreach (var item in Model.Reverse())
        {
            <tr>
                <td>
                    <img src="@item.ThumbnailPhotoUrl" alt="" height="200" width="300">
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.FacebookAlbumUrl)" target="_blank">@item.Title - @item.EventDate</a>
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit | </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Сигурен ли си, че искаш да изтриеш албума ?')"> Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
