@model IEnumerable<GridironBulgaria.Web.ViewModels.PhotoAlbums.PhotoAlbumViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <h2 class="font-weight-bold text-lg-left mt-0 mb-0">Галерия</h2>
    <div class="col">
        <form asp-controller="PhotoAlbums" asp-action="Index" method="get">
            <div>
                <input type="submit" value="Търси" class="float-lg-right btn-group-sm">
                <input type="text" name="id" class="float-lg-right form-control-sm">
            </div>
        </form>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <hr />
    <div>
        <a asp-action="Create" class="btn btn-primary">СЪЗДАЙ АЛБУМ</a>
    </div>
    <hr />
}
else
{
    <hr class="mt-2 mb-5">
}

<div class="container-fluid">
    <div class="row text-center text-lg-left">
        @foreach (var item in Model.Reverse())
        {
            <div id="teamIndexHover" class="col-lg-3 col-md-4 col-6">
                <a href="@item.FacebookAlbumUrl" class="d-block mb-4" target="_blank">
                    <div>
                        <img class="img-thumbnail" src="@item.ThumbnailPhotoUrl" alt="@item.Title">
                        <h5 class="font-weight-bold text-center">@item.Title - @item.EventDate</h5>
                    </div>
                </a>
            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="float-right">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">ПРОМЕНИ</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('Сигурен ли си, че искаш да изтриеш мача ?')">ИЗТРИЙ</a>
                </div>
            }
        }
    </div>
</div>