@model GridironBulgaria.Web.ViewModels.Teams.TeamDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <a asp-action="Index" class="float-right btn btn-outline-secondary" style="margin-right: 5px;">КЪМ ОТБОРИ</a>
</div>

<div class="container">

    <h1 class="my-4">
        <img class="img" src="@Model.LogoUrl" alt="@Model.Name" height="150"> @Model.Name.ToUpper()
    </h1>

    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="@Model.CoverPhotoUrl" alt="@Model.Name">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Тренировки</h3>
            <hr />
            <p>@Model.TrainingsDescription</p>


            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.CoachName)
                    </dt>
                    <dd class="col-sm-8">
                        @Model.CoachName
                    </dd>
                    <dt class="col-sm-11">
                        @Html.DisplayNameFor(model => model.GamesPlayedCounter)
                    </dt>
                    <dd class="col-sm-1">
                       @Model.GamesPlayedCounter
                    </dd>
                </dl>
            </div>

            <hr />
            <h3 class="my-3">Контакти</h3>
            <hr />
            <div class="text-center">
                <a href="@Model.ContactUrl" target="_blank"><i id="facebookTeamIcon" class="fab fa-facebook-square"></i></a>
                <div>
                </div>
            </div>
            <br />
            <div class="text-center">
                <a href="@Model.TeamGamesFilter" class="btn btn-outline-secondary">ВИЖ МАЧОВЕТЕ НА @Model.Name.ToUpper()</a>
                <div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="my-4">Галерия</h3>

    <hr />

    <div class="row">
        @foreach (var item in Model.TeamPhotoAlbums.Reverse())
        {
            <div id="albumIndexHover" class="col-md-3 col-sm-6 mb-4">
                <a href="@item.FacebookAlbumUrl" class="d-block mb-4" target="_blank">
                    <img class="img-fluid" src="@item.ThumbnailPhotoUrl" alt="@item.Title">
                    <h6>@item.Title - @item.EventDate</h6>
                </a>
            </div>
        }
    </div>
</div>