@model GridironBulgaria.Web.ViewModels.Teams.TeamDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>
    <img src="@Html.DisplayFor(model => model.LogoUrl)" alt="" height="200" width="300">
    @Html.DisplayFor(model => model.Name)
</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoverPhotoUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.CoverPhotoUrl)" alt="" height="500" width="700">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoachName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoachName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingsDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrainingsDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactUrl)
        </dt>
        <dd class="col-sm-10">
            <a href="@Html.DisplayFor(model => model.ContactUrl)" target="_blank">Свържи се с @Model.Name</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GamesPlayedCounter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GamesPlayedCounter)
        </dd>
    </dl>
</div>
<h6>@Html.DisplayNameFor(model => model.TeamPhotoAlbums)</h6>
<div>
    @foreach (var item in Model.TeamPhotoAlbums)
    {
        <div>
            @item.Title
        </div>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
