@model IEnumerable<GridironBulgaria.Web.ViewModels.Teams.TeamInfoViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <main role="main" class="pb-3">
        <div class="row">
            <h2 class="font-weight-bold text-lg-left mt-0 mb-0">Отбори</h2>
        </div>

        @if (User.IsInRole("Admin"))
        {
            <hr />
            <div>
                <a asp-action="Create" class="btn btn-primary">НОВ ОТБОР</a>
            </div>
            <hr />
        }
        else
        {
            <hr class="mt-2 mb-5">
        }

        <div class="container text-break">
            <div class="row text-center">
                @foreach (var item in Model)
                {
                    <div id="teamIndexHover" class="col-lg-3 col-md-4 col-md-2">
                        <a href="@item.Url" class="d-block mb-4">
                            <div>
                                <img id="teamLogoUrls" class="img" src="@item.LogoUrl" alt="@item.Name"/>
                                <h3>@item.Name</h3>
                            </div>
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <h6>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">ПРОМЕНИ</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('Сигурен ли си, че искаш да изтриеш мача ?')">ИЗТРИЙ</a>
                            </h6>
                        }
                    </div>
                }
            </div>
        </div>
    </main>
</div>