@model GridironBulgaria.Web.ViewModels.Teams.AllTeamsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Нов Отбор</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Teams)
        {
            <tr>
                <td>
                    @item.Name
                    @item.LogoUrl
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action = "Delete" asp-route-id="@item.Id" onclick="return confirm('Сигурен ли си, че искаш да изтриеш отбора ?')" > Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
