@model IEnumerable<GridironBulgaria.Web.ViewModels.Teams.TeamInfoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Нов Отбор</a>
    </p>
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 media ">
            <img src="@item.LogoUrl" alt="@item.Name" height="100" width="100" class="mr-3">
            <div class="media-body">
                <h5 class="mt-0"><a href="@item.Url">@item.Name</a></h5>
            </div>
            <div>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit | </a>
                    <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Сигурен ли си, че искаш да изтриеш отбора ?')"> Delete </a>
                }
            </div>
        </div>       
    }
</div>
